
html, body {
  margin: 0px;
  padding: 0;
}

.row {
  margin-bottom: 0;
}
.row.row-top {
  margin: 0px;
  height: 10vh;
}
.row.row-middle {
  margin: 0px;
}
.row.row-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  padding: 10px;
  color: #fff;
  text-align: center; /* 文字置中，根據需要進行調整 */
}
.hidden {
  display: none;
}
.menu-box .menu-item {
  display: inline-block;
}
.menu-box .menu-item span {
  font-size: 5vh;
  display: inline-block;
  height: 100%;
}

#middle_block .question {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
}
#left_side, #operator_side, #right_side, #assign_side, #result_side {
  width: auto;
  margin: 0 5px;
  /* border-bottom: 1px groove; */
  font-size: 10vh;
}
#middle_block .optional {
  font-size: 5vh; /* 根據需要調整字體大小 */
  margin-top: 10px; /* 增加上方間距 */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#middle_block .optional div {
  display: inline-block; /* 讓 .optional 成為獨立的一行 */
  border: 1px groove;
  padding: 10px 15px;
}
#middle_block .optional div.normal {
  cursor: pointer;
}

#middle_block .optional div.failure {
  border: 1px groove #c3c3c3;
  color: #c3c3c3;
}

#middle_block .optional div.correct {
  background-color: #00ff00;
}



#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 300px;
  min-height: 100px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  color: #888;
}

.popup-content {
  margin-top: 10px;
}

.clickable {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

#animation_box {
  width: 50vmin; /* 使用視窗寬度和高度的最小值作為寬度和高度 */
  height: 50vmin; /* 使用視窗寬度和高度的最小值作為寬度和高度 */

  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index:-1;
}
.circle {
  position: relative;
}

.circle::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 50px solid #00ff00;
  box-sizing: content-box;
  /* animation: circle-animation 1s linear; */
  animation: fadeInOut 0.2s infinite;
  opacity: 0;
  pointer-events: none;
}

.X-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  animation: x-animation 1s linear;
  /* animation: fadeInOut 0.2s infinite;  */
  opacity: 1;
  pointer-events: none;

}

.X-animation::before,
.X-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #ff1e00;
  transform: rotate(45deg);
  transform: rotate(-45deg);
}

/** 畫圓 X */
@keyframes x-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/** 畫圓 淡入淡出*/
@keyframes circle-animation {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/** 畫圓 閃碩*/
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
